<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jacksoft.dao.StckingareaDao">

    <sql id="field_select">
        serial,product,department,barcode,sdate,tester,parameters,result,stime,handle,reviewer,batch
    </sql>

    <resultMap id="StckingareaMap" type="com.jacksoft.entity.wms.Stckingarea">
        <result property="warehouse" column="warehouse"></result>
        <result property="id" column="id"></result>
        <result property="upperlimit" column="upperlimit"></result>
        <result property="saved" column="saved"></result>
        <result property="responsible" column="responsible"></result>
        <result property="title" column="title"></result>
    </resultMap>

    <select id="queryStckingareaByPage" parameterType="java.lang.String" resultMap="StckingareaMap" flushCache="true">
        <bind name="start" value="(page-1)*row" />
        <bind name="end"   value="row" />
        SELECT <include refid="field_select"></include>
        FROM `stckingarea`
        <where>
            <if test=" warehouse!=null and warehouse.trim().length>0">
                AND `warehouse`  =  #{warehouse}
            </if>
            <if test=" id!=null and id.trim().length>0">
                AND `id`  =  #{id}
            </if>
            <if test=" title!=null and title.trim().length>0">
                AND `title`  like  '%${title}%'
            </if>
        </where>
        ORDER BY warehouse,saved DESC,id ASC
        LIMIT #{start},#{end}
    </select>

    <select id="countStckingarea" parameterType="java.lang.String" resultType="int" flushCache="true">
        SELECT count(1) AS res
        FROM `stckingarea`
        <where>
            <if test=" warehouse!=null and warehouse.trim().length>0">
                AND `warehouse`  =  #{warehouse}
            </if>
            <if test=" id!=null and id.trim().length>0">
                AND `id`  =  #{id}
            </if>
            <if test=" title!=null and title.trim().length>0">
                AND `title`  like  '%${title}%'
            </if>
        </where>
    </select>

    <insert id="insStckingarea" parameterType="com.jacksoft.entity.wms.Stckingarea">
        insert into `stckingarea`(warehouse,id,upperlimit,saved,responsible,title) values
        <foreach collection="list" item="l" separator=",">
            (#{l.warehouse},#{l.id},#{l.upperlimit},#{l.saved},#{l.responsible},#{l.title})
        </foreach>
    </insert>

    <delete id="delStckingarea" parameterType="com.jacksoft.entity.wms.Stckingarea">
        delete from `stckingarea`
        <where>
            <if test="list.size()>0">
                and `warehouse` in
                <foreach collection="list" separator="," item="l" open="(" close=")">
                    #{l.warehouse}
                </foreach>
            </if>
            <if test="list.size()>0">
                and `id` in
                <foreach collection="list" separator="," item="l" open="(" close=")">
                    #{l.id}
                </foreach>
            </if>
        </where>
    </delete>

    <update id="updStckingarea" parameterType="com.jacksoft.entity.wms.Stckingarea">
        update `quality`
        <set>
            <if test="replacement.warehouse!=null and ''!=replacement.warehouse">
                `warehouse` = #{replacement.warehouse},
            </if>
            <if test="replacement.id!=null and ''!=replacement.id">
                `id` = #{replacement.id},
            </if>
            <if test="replacement.upperlimit!=null and ''!=replacement.upperlimit">
                `upperlimit` = #{replacement.upperlimit},
            </if>
            <if test="replacement.saved!=null and ''!=replacement.saved">
                `saved` = #{replacement.saved},
            </if>
            <if test="replacement.responsible!=null and ''!=replacement.responsible">
                `responsible` = #{replacement.responsible},
            </if>
            <if test="replacement.title!=null and ''!=replacement.title">
                `title` = #{replacement.title},
            </if>
        </set>
        <where>
            <if test="filter.warehouse!=null and ''!=filter.warehouse">
                AND `warehouse` =  #{filter.warehouse}
            </if>
            <if test="filter.id!=null and ''!=filter.id">
                AND `id` =  #{filter.id}
            </if>
        </where>
    </update>

</mapper>
